* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

.search-area {
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

.search-area-bar {
  display: block;
  width: 400px;
  border: 2px solid black;
}

.search-area-button {
  width: 404px;
  border: 2px solid black;
  margin: 0;
}
