/* ------------------General-------------------------- */
@font-face {
  font-family: pokemonHollow;
  src: url("resources/fonts/Pokemon Hollow.ttf");
}

@font-face {
  font-family: pokemonSolid;
  src: url("resources/fonts/Pokemon\ Solid.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

.container {
  background-color: #4dad5b;
  margin: 5rem 10vw;
  border: 0.5rem solid #d5a100;
}

/* -------X----------General------------X------------- */

/* ------------------Search-------------------------- */
.search-area {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
}

.search-area-bar {
  display: block;
  font-size: 1.25rem;
  padding: 1rem 1rem;
  text-align: center;
  font-style: italic;
  background-color: #6cce7b;
  outline-color: #0075be;
  border-radius: 10px;
}

.search-area-button {
  font-size: 1.25rem;
  padding: 0.8rem;
  margin-top: 2rem;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #0075be;
  background-color: #ffcc00;
  box-shadow: 2px 2px 2px 2px #0075be;
}

.search-area-button:hover {
  background-color: #d5a100;
  cursor: pointer;
}

/* -------X----------Search------------X------------- */

/* ------------------exhibition-------------------------- */

.exhibitionArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.exhibitionArea img {
  width: 200px;
  height: auto;
  margin: 0 auto 2rem auto;
  border-radius: 10px;
  background-color: #fff;
  border: 0.5rem solid #ffcc00;
  box-shadow: 2px 2px 2px 2px #0075be;
}

.pokeName {
  font-family: pokemonSolid;
  color: #ffcc00;
  font-size: 2rem;
  text-shadow: 2px 2px #0075be;
  margin: -1rem 0 2rem 0;
}

.shinyBox {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #0075be;
}

.shinyBox-normal,
.shinyBox-shiny {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  background-color: #ffcc00;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #0075be;
}

.shinyBox-normal:hover,
.shinyBox-shiny:hover {
  cursor: pointer;
  background-color: #d5a100;
}

/* -------X----------exhibition------------X------------- */
