@font-face {
  font-family: pokemonHollow;
  src: url("resources/fonts/Pokemon Hollow.ttf");
}

@font-face {
  font-family: pokemonSolid;
  src: url("resources/fonts/Pokemon\ Solid.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

.container {
  background-color: #4dad5b;
  margin: 5rem 10vw;
  border: 0.5rem solid #d5a100;
}

.search-area {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.search-area-bar {
  display: block;
  width: 400px;
  border: 2px solid black;
}

.search-area-button {
  width: 404px;
  border: 2px solid black;
}

.exhibitionArea {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

h2 {
  font-family: pokemonSolid;
  color: #ffcc00;
  font-size: 2rem;
  text-shadow: 2px 2px #0075be;
  line-height: 0;
  margin: 1rem 0 4rem 0;
}
